---
import InputItemAqiqah from "../components/aqiqah/InputItemAqiqah.astro";
import InputMasakAqiqah from "../components/aqiqah/InputMasakAqiqah.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
    <main>
        <h1>Pilihan paket Aqiqah</h1>
        <p>Silakan pilih pesanan Anda.</p>

        <!--! HANYA PESAN DOMBANYA SAJA -->
        <section id="HanyaHewan" class="menu-category">
            <h2
                style="position: sticky; top: 80px; padding: 10px; background: white;   filter: drop-shadow(rgba(0,0,0,0.15) 0 4px 5px);
                "
            >
                Hanya Pesan Domba
            </h2>
            <fieldset>
                <h3>Domba Betina</h3>
                <InputItemAqiqah
                    name="hewan"
                    tipe="reguler"
                    bobot="15"
                    porsi=""
                    harga1="1400000"
                    harga2="2650000"
                    kategori="hewan saja"
                    jenis="betina reguler"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="VIP"
                    bobot="20"
                    porsi=""
                    harga1="1700000"
                    harga2="3250000"
                    kategori="hewan saja"
                    jenis="betina VIP"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="EKSKLUSIF"
                    bobot="25"
                    porsi=""
                    harga1="2050000"
                    harga2="3950000"
                    kategori="hewan saja"
                    jenis="betina EKSKLUSIF"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="PREMIUM"
                    bobot="30"
                    porsi=""
                    harga1="2550000"
                    harga2="4950000"
                    kategori="hewan saja"
                    jenis="betina PREMIUM"
                />
            </fieldset>
            <fieldset>
                <h3>Domba Jantan</h3>
                <InputItemAqiqah
                    name="hewan"
                    tipe="VIP"
                    bobot="20"
                    porsi=""
                    harga1="2200000"
                    harga2="4250000"
                    kategori="hewan saja"
                    jenis="jantan VIP"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="EKSKLUSIF"
                    bobot="25"
                    porsi=""
                    harga1="2650000"
                    harga2="5150000"
                    kategori="hewan saja"
                    jenis="jantan EKSKLUSIF"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="PREMIUM"
                    bobot="30"
                    porsi=""
                    harga1="3050000"
                    harga2="5950000"
                    kategori="hewan saja"
                    jenis="jantan PREMIUM"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="GOLD"
                    bobot="40"
                    porsi=""
                    harga1="3950000"
                    harga2="7750000"
                    kategori="hewan saja"
                    jenis="jantan GOLD"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="SUPER VIP"
                    bobot="50"
                    porsi=""
                    harga1="5200000"
                    harga2="10250000"
                    kategori="hewan saja"
                    jenis="jantan SUPER VIP"
                />
            </fieldset>
        </section>

        <div style="height: 3px; background: black; margin: 20px 0 20px 0;">
        </div>

        <!--! Pesan Paket 1 Menu -->
        <section id="Paket1Menu" class="menu-category">
            <h2
                style="position: sticky; top: 80px; padding: 10px; background: white;   filter: drop-shadow(rgba(0,0,0,0.15) 0 4px 5px);
            "
            >
                Paket Masak 1 Menu
            </h2>
            <fieldset>
                <h3>Domba Betina</h3>
                <InputItemAqiqah
                    name="hewan"
                    tipe="reguler"
                    bobot="15"
                    porsi=""
                    harga1="1900000"
                    harga2="3600000"
                    kategori="Paket Masak 1 Menu"
                    jenis="betina reguler"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="VIP"
                    bobot="20"
                    porsi=""
                    harga1="2300000"
                    harga2="4400000"
                    kategori="Paket Masak 1 Menu"
                    jenis="betina VIP"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="EKSKLUSIF"
                    bobot="25"
                    porsi=""
                    harga1="2800000"
                    harga2="5400000"
                    kategori="Paket Masak 1 Menu"
                    jenis="betina EKSKLUSIF"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="PREMIUM"
                    bobot="30"
                    porsi=""
                    harga1="2550000"
                    harga2="4900000"
                    kategori="Paket Masak 1 Menu"
                    jenis="betina PREMIUM"
                />
            </fieldset>
            <fieldset>
                <h3>Domba Jantan</h3>
                <InputItemAqiqah
                    name="hewan"
                    tipe="VIP"
                    bobot="20"
                    porsi=""
                    harga1="2200000"
                    harga2="4200000"
                    kategori="Paket Masak 1 Menu"
                    jenis="jantan VIP"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="EKSKLUSIF"
                    bobot="25"
                    porsi=""
                    harga1="2650000"
                    harga2="5150000"
                    kategori="Paket Masak 1 Menu"
                    jenis="jantan EKSKLUSIF"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="PREMIUM"
                    bobot="30"
                    porsi=""
                    harga1="3050000"
                    harga2="5950000"
                    kategori="Paket Masak 1 Menu"
                    jenis="jantan PREMIUM"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="GOLD"
                    bobot="40"
                    porsi=""
                    harga1="3950000"
                    harga2="7750000"
                    kategori="Paket Masak 1 Menu"
                    jenis="jantan GOLD"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="SUPER VIP"
                    bobot="50"
                    porsi=""
                    harga1="5200000"
                    harga2="10250000"
                    kategori="Paket Masak 1 Menu"
                    jenis="jantan SUPER VIP"
                />
            </fieldset>
            <fieldset>
                <p>Pilihan lauk utama:</p>
                <InputMasakAqiqah kategori="Paket1Menu" masakan="Gulai" />
                <InputMasakAqiqah kategori="Paket1Menu" masakan="Tongseng" />
                <InputMasakAqiqah kategori="Paket1Menu" masakan="Semur" />
                <InputMasakAqiqah kategori="Paket1Menu" masakan="Rica-Rica" />
                <InputMasakAqiqah
                    kategori="Paket1Menu"
                    masakan="Kerengsengan"
                />
                <InputMasakAqiqah kategori="Paket1Menu" masakan="Lada Hitam" />
            </fieldset>
        </section>

        <div style="height: 3px; background: black; margin: 20px 0 20px 0;">
        </div>

        <!--! Pesan Paket Bento Box -->
        <section id="PaketBentoBox" class="menu-category">
            <h2
                style="position: sticky; top: 80px; padding: 10px; background: white;   filter: drop-shadow(rgba(0,0,0,0.15) 0 4px 5px);
            "
            >
                Paket BentoBox
            </h2>
            <fieldset>
                <h3>Domba Betina</h3>
                <InputItemAqiqah
                    name="hewan"
                    tipe="reguler"
                    bobot="15"
                    porsi=""
                    harga1="1900000"
                    harga2="3600000"
                    kategori="Paket Bento Box"
                    jenis="betina reguler"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="VIP"
                    bobot="20"
                    porsi=""
                    harga1="2300000"
                    harga2="4400000"
                    kategori="Paket Bento Box"
                    jenis="betina VIP"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="EKSKLUSIF"
                    bobot="25"
                    porsi=""
                    harga1="2800000"
                    harga2="5400000"
                    kategori="Paket Bento Box"
                    jenis="betina EKSKLUSIF"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="PREMIUM"
                    bobot="30"
                    porsi=""
                    harga1="2550000"
                    harga2="4900000"
                    kategori="Paket Bento Box"
                    jenis="betina PREMIUM"
                />
            </fieldset>
            <fieldset>
                <h3>Domba Jantan</h3>
                <InputItemAqiqah
                    name="hewan"
                    tipe="VIP"
                    bobot="20"
                    porsi=""
                    harga1="2200000"
                    harga2="4200000"
                    kategori="Paket Bento Box"
                    jenis="jantan VIP"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="EKSKLUSIF"
                    bobot="25"
                    porsi=""
                    harga1="2650000"
                    harga2="5150000"
                    kategori="Paket Bento Box"
                    jenis="jantan EKSKLUSIF"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="PREMIUM"
                    bobot="30"
                    porsi=""
                    harga1="3050000"
                    harga2="5950000"
                    kategori="Paket Bento Box"
                    jenis="jantan PREMIUM"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="GOLD"
                    bobot="40"
                    porsi=""
                    harga1="3950000"
                    harga2="7750000"
                    kategori="Paket Bento Box"
                    jenis="jantan GOLD"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="SUPER VIP"
                    bobot="50"
                    porsi=""
                    harga1="5200000"
                    harga2="10250000"
                    kategori="Paket Bento Box"
                    jenis="jantan SUPER VIP"
                />
            </fieldset>
            <fieldset>
                <p>Pilihan lauk bento box:</p>
                <InputMasakAqiqah kategori="PaketBentoBox" masakan="Gulai" />
                <InputMasakAqiqah kategori="PaketBentoBox" masakan="Tongseng" />
                <InputMasakAqiqah kategori="PaketBentoBox" masakan="Semur" />
                <InputMasakAqiqah
                    kategori="PaketBentoBox"
                    masakan="Rica-Rica"
                />
                <InputMasakAqiqah
                    kategori="PaketBentoBox"
                    masakan="Kerengsengan"
                />
                <InputMasakAqiqah
                    kategori="PaketBentoBox"
                    masakan="Lada Hitam"
                />
            </fieldset>
        </section>

        <div style="height: 3px; background: black; margin: 20px 0 20px 0;">
        </div>

        <!--! Pesan Paket Timur Tengah -->
        <section id="PaketTimurTengah" class="menu-category">
            <h2
                style="position: sticky; top: 80px; padding: 10px; background: white;   filter: drop-shadow(rgba(0,0,0,0.15) 0 4px 5px);
            "
            >
                Paket Timur Tengah
            </h2>
            <fieldset>
                <h3>Domba Betina</h3>
                <InputItemAqiqah
                    name="hewan"
                    tipe="reguler"
                    bobot="15"
                    porsi=""
                    harga1="1900000"
                    harga2="3600000"
                    kategori="Paket Timur Tengah"
                    jenis="betina reguler"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="VIP"
                    bobot="20"
                    porsi=""
                    harga1="2300000"
                    harga2="4400000"
                    kategori="Paket Timur Tengah"
                    jenis="betina VIP"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="EKSKLUSIF"
                    bobot="25"
                    porsi=""
                    harga1="2800000"
                    harga2="5400000"
                    kategori="Paket Timur Tengah"
                    jenis="betina EKSKLUSIF"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="PREMIUM"
                    bobot="30"
                    porsi=""
                    harga1="2550000"
                    harga2="4900000"
                    kategori="Paket Timur Tengah"
                    jenis="betina PREMIUM"
                />
            </fieldset>
            <fieldset>
                <h3>Domba Jantan</h3>
                <InputItemAqiqah
                    name="hewan"
                    tipe="VIP"
                    bobot="20"
                    porsi=""
                    harga1="2200000"
                    harga2="4200000"
                    kategori="Paket Timur Tengah"
                    jenis="jantan VIP"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="EKSKLUSIF"
                    bobot="25"
                    porsi=""
                    harga1="2650000"
                    harga2="5150000"
                    kategori="Paket Timur Tengah"
                    jenis="jantan EKSKLUSIF"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="PREMIUM"
                    bobot="30"
                    porsi=""
                    harga1="3050000"
                    harga2="5950000"
                    kategori="Paket Timur Tengah"
                    jenis="jantan PREMIUM"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="GOLD"
                    bobot="40"
                    porsi=""
                    harga1="3950000"
                    harga2="7750000"
                    kategori="Paket Timur Tengah"
                    jenis="jantan GOLD"
                />
                <InputItemAqiqah
                    name="hewan"
                    tipe="SUPER VIP"
                    bobot="50"
                    porsi=""
                    harga1="5200000"
                    harga2="10250000"
                    kategori="Paket Timur Tengah"
                    jenis="jantan SUPER VIP"
                />
            </fieldset>
            <fieldset>
                <p>Pilihan olahan nasi timur tengah:</p>
                <InputMasakAqiqah
                    kategori="PaketTimurTengah"
                    masakan="Nasi Kebuli"
                />
                <InputMasakAqiqah
                    kategori="PaketTimurTengah"
                    masakan="Nasi Mandhi"
                />
                <InputMasakAqiqah
                    kategori="PaketTimurTengah"
                    masakan="Nasi Briyani"
                />
            </fieldset>
        </section>

        <div class="spacer" style="height: 400px;"></div>
    </main>
    <!--? WHATSAPP Button -->
    <div
        style="background-color: aquamarine; font-size: 14px; position: fixed; bottom: 0; width: 100%; margin: 0px; padding: 12px"
    >
        <div>
            <p style="font-size: 14px; font-weight: 600;">
                Format pesan WA yang dikirim ke admin:
            </p>
            <p id="textsample" style="font-size: 16px">
                Assalamu'alaikum admin Qurbanplus, insyaAllah saya ingin pesan
                Aqiqah.
            </p>
        </div>
        <div>
            <a
                id="linkWA"
                href="https://wa.me/6281293150101?text=Assalamu'alaikum%20admin%20Qurbanplus,%20insyaAllah%20saya%20ingin%20pesan%20Aqiqah."
                target="_blank"
            >
                <button class="pesan-whatsapp" style="display: flex; gap: 10px">
                    <div>
                        <img
                            src="/assets/icons/ic-whatsapp.svg"
                            style="width: 32px;"
                        />
                    </div>
                    <p>Pesan aqiqah</p>
                </button>
            </a>
        </div>
    </div>
</BaseLayout>
<script>
    const allInputHewan = document.querySelectorAll("input.hewan-select");
    const allInputMakanan = document.querySelectorAll("input.masakan-select");

    const textSample = document.getElementById("textsample");
    const linkWA = document.getElementById("linkWA");

    function convertSpacesToPercent20(inputString) {
        let result = inputString.replace(/ /g, "%20");
        return result;
    }

    // tombolPesanWA.addEventListener("click", () => {
    //     linkWA.href = `https://wa.me/6281293150101?text=${formatURLWA}`;
    // });

    let pesanPilihanHewan = "";
    let pesanPilihanMasakan = "";

    function updateFormatPesan() {
        let formatPesanWAbaru = `Assalamu'alaikum admin Qurbanplus, insyaAllah saya ingin pesan Aqiqah. ${pesanPilihanHewan}. ${pesanPilihanMasakan}`;
        let formatURLWA = `${convertSpacesToPercent20(formatPesanWAbaru)}`;

        console.log(formatPesanWAbaru);

        textSample.innerHTML = formatPesanWAbaru;
        linkWA.href = `https://wa.me/6281293150101?text=${formatURLWA}`;
    }

    allInputHewan.forEach((input) => {
        input.addEventListener("click", function () {
            pesanPilihanHewan = `Rincian pemesanan sebagai berikut: *${this.dataset.kategori}*, *${this.dataset.jenisDomba} ${this.value} ekor*`;
            updateFormatPesan();
        });
    });

    allInputMakanan.forEach((input) => {
        input.addEventListener("click", function () {
            pesanPilihanMasakan = `Pilihan olahan: *${this.value}*`;
            updateFormatPesan();
        });
    });
</script>

<style>
    main {
        max-width: 800px;
        margin: 0 auto;
    }
    .menu-category {
        border: solid 1px rgb(147, 147, 147);
        padding: 8px;
    }
</style>
